body{
    position: relative;
    background-image: url(././images/photo-1531297484001-80022131f5a1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    position: fixed;
    margin-left: -10px;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 254, 254, 51%);
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
}

a {
    font-weight: bold;
    font-family: cursive;
    display: block;
    justify-content: flex-end;
    text-decoration: none;
    color: white;
    padding: 9px 39px;
    font-size: 42px;
    border-radius: 15px;

    
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
}

li a{
    
    font-weight: bold;
    font-family: cursive;
    display: block;
    justify-content: flex-end;
    text-decoration: none;
    color: white;
    padding: 9px 39px;
    font-size: 24px;
}

li a:hover{
    transition: 0.3s;
    background-color: rgb(0, 0, 0);
    color: honeydew;
}

section{
    display: flex;
    justify-content: start;
}
h1{
    position: absolute;
    font-size: 81px;
    left: 70px;
    color: white;
    font-family: cursive;
    top: 141px;
}
h5{
    position: absolute;
    left: 70px;
    color: white;
    font-family: -webkit-pictograph;
    font-size: 42px;
    top: 260px;
}
div {
    color: #161212ed;
    position: absolute;
    text-align: center;
    left: 70px;
    top: 575px;
    background-color: rgb(255 255 255 / 25%);
    font-size: 38px;
    width: 470px;
    height: 58px;
    border-radius: 14px;
}
div:hover{
    background-color: honeydew;
    color: grey;
    cursor: pointer;
}

section.fa {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
footer{
        position: absolute;
        top: 663px;
        background-color: #ffffff59;
        width: 100.8%;
        height: 118px;
        right: -7.5px;
}
.footer{     
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.fa a{
    font-size: 30px;
    color:rgb(56, 56, 56) ;
}
.fa-facebook:hover{
    background-color: blue;
    transition: 1.5s;
}
.fa-twitter:hover{
    background-color: rgb(76, 198, 246);
    transition: 1.5s;
}.fa-google:hover{
    background-color: rgb(238, 55, 55);
    transition: 1.5s;
}.fa-instagram:hover{
    background-color: rgb(156, 6, 131);
    transition: 1.5s;
}